*.suo
*.csproj.user
*.vcxproj.user
*.ReSharper.user
*.DotSettings.user
_ReSharper.*
*.sdf
*.opensdf
*.i.cs
*.cache
*.Cache
*.tlog
*.log
*.obj
*.pdb
*.nvuser
*.exp
*.orig
*.psess
*.vspx
*.shfbproj_*
*.dotCover
*.Ghostdoc.xml
*.sln.ide
StyleCop.Cache
swig_lib
My Amplifier*
Debug
Release
Win32Debug
Win32Release
Debug_Expat
Release_Expat
Debug_static
Release_static
CodeAnalyst
UpgradeLog*
stride_doc_output
doc/doxygen/html
Tools/bin
Temp/
bin/
Bin/
ipch/
obj/
.vs/
Cache/
/doc/stride_doc_output/
/build/Stride.version
/build/Stride.*VC.db
/tools
/externals/
/package/
/tools/
**/Properties/launchSettings.json
launch-android.bat
Win32
Win32Debug
launch-ios.bat
*.androidcache
libfreetype.a
libcore.a
libbulletc.a
libNativePath.a
libstridenative_arm64.a
libstridenative_armv7.a
libstridenative_armv7s.a
libstridenative_i386.a
libstridenative_x86_64.a
*.CachedGlyphs
*.CachedImage
log
x64Debug
x64Release
*.opendb
screenshots
samplesGenerated

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store

## Build generated
sources/tools/Stride iOS Relay/build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots
*.user
project.lock.json
